@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

.navbar-menu-item-products:before {
    content: '';
    position: absolute;
    right: 2px;
    bottom: -22px;
    border: 8px solid transparent;
    border-bottom-color: #111827;
}

.slick-slider,
.slick-slider .slick-list,
.slick-slider .slick-list .slick-track,
.slick-slider .slick-list .slick-track .slick-slide,
.slick-slider .slick-list .slick-track .slick-slide>div {
    width: 100%;
    height: 100%;
}

.slick-dots li.slick-active button:before { opacity: 1; }

.slider .slick-dots {
    z-index: 49;
    position: absolute;
    bottom: 12px;
}

.slider .slick-dots li.slick-active button:before,
.slider .slick-dots li button:before {
    color: white;
}

.products-recommended .slick-dots {
    position: absolute;
    top: 12px;
    bottom: unset;
}

.slick-dots li {
    margin: 0;
}

.products-item-discount {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 16px;
    padding: 0 24px;
    transform: rotate(45deg) translate(29%, -11%);
    clip-path: polygon(17% 0%, 83% -1%, 101% 100%, 0% 100%);
}

.product-details-description p:not(:last-child) {
    margin-bottom: 0.75rem;
}